{% extends "customer_base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <h1>{{ _('Pet Detail') }}</h1>
</head>
<body>
    {% if pet %}
        {% for p in pet %}
            <h2>{{ _('Name:') }} {{ p.name }}</h2>
            <p>{{ _('Age:') }} {{ p.age }}</p>
            <p>{{ _('Species:') }} {{ p.species }}</p>
            <img src='/static/uploaded_image/pet_image/{{ p.image }}'>
        {% endfor %}
    {% endif %}
</body>
</html>
{% endblock %}