h1 {
    /* position: absolute;
    left: 2%; */
    position: absolute;
    left: 2%;
    top: 9%;
}

/* .panel-body {
    width: 100%;
    margin-left: 10px;
    margin-top: 80px;
    float: left;
    writing-mode : horizontal-tb;    
}

.panel-body > div {
    width: 100%;
    float: left;
    margin-top: 30px;
    padding: 15px;
    background-color: rgb(161, 207, 209);
    border: solid;
    border-radius: 10px;
    border-color: rgb(161, 207, 209);
} */

.panel-body {
    width: 100%;
    background-color: rgb(161, 207, 209);
    border: solid;
    border-radius: 10px;
    border-color: rgb(161, 207, 209);
    margin: 10px;
    margin-top: 80px;
    float: left;
    writing-mode : horizontal-tb;    
}

.q_title {
    float: left;
} 

.q_details {
    margin-left: 200px;
    float: left;
}

.q_graphic {
    margin-right: 10px;
    writing-mode : vertical-lr;
    /* margin-top: 10px; */
    /* margin-left: 50px; */
    float: right;
}

.q_graphic img{
    margin: 6px;
}