
#appointment{
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
    font-size: 20px;
    position: absolute;
    width: 1525px;
    top: 20%;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
}

