<!DOCTYPE html>
<html>
<head>

	<title>Vet for Pet</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='../static/style/base.css') }}" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/images/icons/favicon.png" type="image/png" rel="icon">
    <link href="../static/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="../static/css/bootstrap-responsive.css" type="text/css" rel="stylesheet">
    <link href="../static/css/themify-icons.css" type="text/css" rel="stylesheet">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">

	<script src="{{ url_for('static', filename='../static/script/jquery-3.4.1.js') }}"></script>

</head>
<body>

	<div class="link">

		<a href="{{ url_for('login')}}">Login</a>
		&nbsp &nbsp|&nbsp &nbsp
		<a href="{{ url_for('signup')}}">Sign up</a>
	</div>
	<hr>

	 {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

    {% block content %}{% endblock %}
</body>


</html>