<!DOCTYPE html>
<html>
<head>
	<title>Employee Main Page</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='../static/style/employee_base.css') }}" />

	<script src="{{ url_for('static', filename='../static/script/jquery-3.4.1.js') }}"></script>

</head>
<body>

	<div class="link">
		<a href="{{ url_for('standard_appointment_cat')}}">Standard Appointment</a>
		&nbsp &nbsp|&nbsp &nbsp
        <a href="{{ url_for('customer_question')}}">Q&A</a>
        &nbsp &nbsp|&nbsp &nbsp
		<a href="{{ url_for('my_pets')}}">My Pets</a>
        &nbsp &nbsp|&nbsp &nbsp
        <a href="{{ url_for('login')}}">Sign Out</a>

	</div>
	<hr>
	 {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
</body>


</html>