<!DOCTYPE html>
<html>
<head>
	<title>Employee Main Page</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='../static/style/employee_base.css') }}" />

	<script src="{{ url_for('static', filename='../static/script/jquery-3.4.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
</head>
<body>

    <ul id="myTab" class="nav nav-tabs" style="padding-left: 2%;background: gainsboro;font-family: 'Comic Sans MS'">
        <li>
            <a href="{{ url_for('orders')}}">Orders</a>
        </li>
        <li>
            <a href="{{ url_for('qa_e')}}">Q&A</a>
        </li>
        <li>
            <a href="{{ url_for('employee_signup')}}">Add New Employee</a>
        </li>
        <li>
            <a href="{{ url_for('employee_login')}}">Sign Out</a>
        </li>
    </ul>
	 {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
</body>


</html>