{% extends "employee_base.html" %}

{% block content %}


    <div class="e_appointment">
        {% for order in order_details %}
            {% if order.appointment_type == 1 %}
                <h2>Appointment type: Emergency</h2>
            {% endif %}
            {% if order.appointment_type == 2 %}
                <h2>Appointment type: Normal</h2>
            {% endif %}
            {% if order.pet_type == 1 %}
                <h2>Pet type: Cat</h2>
            {% endif %}
            {% if order.pet_type == 2 %}
                <h2>Pet type: Dog</h2>
            {% endif %}
            <h2>Date: {{ order.date }}</h2>
            <br/>
            <hr style="border-top: 2px dotted #31708f">
            <a href={{ url_for('delete_order', id = order.id) }}>Delete this appointment</a>
        {% endfor %}
    </div>
{% endblock %}