{% extends "base.html" %}<!--继承基础模板-->
{% block content %}<!--自定义模板区域-->
{#    <a href="{{ url_for('standard_appointment_cat')}}">Standard Appointment</a>#}
{#    <a href="{{ url_for('customer_question')}}">Question</a>#}
{#    <a href="{{ url_for('my_pets')}}">My Pets</a>#}
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/style/login.css') }}" />
    <h1>HEALING PAWS VETERINARY HOSPITAL</h1>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">

    <div class="panel panel-info">
    <div class="panel-heading">
    <div class="panel-body">
{% endblock %}
