{% extends "employee_base.html" %}

{% block content %}

{#    <link rel="stylesheet" href="{{ url_for('static', filename='../static/style/qa_e.css') }}" />#}
{#    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='style/EmployeeQ&A.css') }}">#}
{#    <div class="panel panel-info"/>#}
{#    <div class="panel-heading"/>#}
{#    <div class="panel-body"/>#}

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <div class="vfp-box1">
                        <header>
                            <div class="vfp-logo-wrapper">
                                <a href="index.html" class="logo"><img src="../static/images/logo.png" alt="" class="img-responsive"></a>
                            </div>
                        </header>
                        <nav>
                            <div class="menu-wrapper">
                                <div class="navbar navbar_">
                                    <div class="navbar-inner navbar-inner_">
                                        <a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
                                        <div class="nav-collapse nav-collapse_ collapse">
                                            <ul class="nav sf-menu clearfix">
                                                <li><a href="{{ url_for('orders')}}">{{ _('Orders') }}<span class="over1"></span></a></li>
                                                <li class="active"><a href="{{ url_for('qa_e')}}">{{ _('Q&A') }}<span class="over1"></span></a></li>
                                                <li><a href="{{ url_for('employee_track')}}">Tracking Pets<span class="over1"></span></a></li>
                                                <li><a href="{{ url_for('employee_signup')}}">{{ _('Add New Employee') }}<span class="over1"></span></a></li>
                                                <li> <a href="{{ url_for('employee_login')}}">{{ _('Sign Out') }}<span class="over1"></span></a></li>
{#                                                <li><a href="contact.html">Contact Us<span class="over1"></span></a></li>#}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="span9">
                    <div class="vfp-box2">
                    <div class="vfp-caroufredsel-slider2-txt1">{{ _('Customers Asked:') }}</div><hr>
                        <div class="q_title">
                            {% if prev_questions %}
                                {% for question in prev_questions %}
                                    <a href="{{ url_for('answer', q=question.id) }}">
                                        <h2 style="font-size: 20px;color: #3c763d"> {{ question.title }}</h2>
                                        <h2 style="font-size: 10px;color: black"> {{ question.detail }}</h2>
                                        <img style='width: 180px' src='/static/uploaded_image/question_image/{{ question.image }}'>
                                    </a>
                                    <hr style="border-top: 2px dotted #31708f">
                                {% endfor %}
                            {% endif %}
                        </div><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer> <img src="../static/images/icons/paw.png" alt="" class="img-responsive">
        <h1>HEALING PAWS</h1>
        <p class="subtitle">Veterinary Hospital</p>
        <div class="vfp-social-wrapper">
            <ul class="social clearfix">
                <li><a href="index.html#"><i class="ti-twitter-alt"></i></a></li>
                <li><a href="index.html#"><i class="ti-instagram"></i></a></li>
                <li><a href="index.html#"><i class="ti-youtube"></i></a></li>
            </ul>
        </div>
    </footer>

    <script src="js/jquery.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/superfish.js"></script>
    <script src="js/jquery.caroufredsel.js"></script>
    <script src="js/jquery.touchSwipe.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script>

        var buttons = document.querySelectorAll(".vfp-button1");
        for(var i = 0; i < buttons.length; i++) {
          var button = buttons[i];
          button.addEventListener("click", function() {
            if(!button.classList.contains("active"))
              button.classList.add("active");
            else
              button.classList.remove("active");
          });
        }
    </script>
{#    <div id="question">#}

{#    </div>#}
{#    <div class="q_details">#}
{#        {% if prev_questions %}#}
{#            {% for question in prev_questions %}#}
{#                <h2> {{ question.detail }}</h2>#}
{#            {% endfor %}#}
{#        {% endif %}#}
{#    </div>#}
{#    <div class="q_graphic">#}
{#        {% if prev_questions %}#}
{#            {% for question in prev_questions %}#}
{#                <img src='/static/uploaded_image/{{ question.image }}'>#}
{#            {% endfor %}#}
{#        {% endif %}#}
{#    </div>#}

{% endblock %}