{% extends "customer_base.html" %}
{% block content %}
    <html>
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/style/post_question.css') }}" />
        <h1>{{ _('Question&Answer') }}</h1>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">

        <div class="panel panel-info"/>
        <div class="panel-heading"/>
        <div class="panel-body"/>


        {% if question %}
            {% for q in question %}
                <h2>{{ _('Title:') }} {{ q.title }}</h2>
                <p>{{ _('Post Date:') }} {{ q.publish_date }}</p>
                <p>{{ _('Publisher:') }} {{ q.publisher }}</p>
                <h3>{{ _('Detail:') }}</h3>
                <p>{{ q.detail }}</p>
                <img style="width:360px" src='/static/uploaded_image/question_image/{{ q.image }}'>
            {% endfor %}
        {% endif %}
        <h3>Reply:</h3>
        {% if answer %}
            {% for a in answer %}
                <p>{{ a.answer }}</p>
                <p>{{ a.time }}</p>
            {% endfor %}
        {% endif %}
    </html>
{% endblock %}