{% extends "customer_base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.css') }}">

    <ul class="nav nav-tabs">
      <li role="presentation"><a href="{{ url_for('index') }}">Home</a></li>
      <li role="presentation" class="active"><a href="#">Standard Appointment</a></li>
      <li role="presentation"><a href="{{ url_for('emergency_cat') }}">Emergency</a></li>
    </ul>

    <br><br>

    <form action="" method="post" novalidate id="loginForm" class="container" style="margin-top: 30px", onsubmit="return conf('{{ b_count }}', '{{ s_count }}', '{{ c_count }}')">
    <h2>Standard Appointment</h2>
    <div class="form-inline">
        <a href="#" class="btn btn-default btn-lg active">Cat</a> &nbsp&nbsp&nbsp
        <a href="{{ url_for('standard_appointment_dog')}}" class="btn btn-default btn-lg">Dog</a>
    </div><br>
    {{ form.hidden_tag() }}
        <div class="form-group">
         <p>
            <label for="name">
            {{ form.name.label }}<br>
            </label><br>
            <div class="form-control">
            {{ form.name(size=32) }}
            </div>

			{% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

        </p>
        </div>

        <div class="form-group">
        <p>
            <label for="phone">
            {{ form.phone.label }}<br>
            </label><br>
            <div class="form-control">
            {{ form.phone(size=32) }}
            </div>

			{% for error in form.phone.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        </div>

        <p>
            <label for="city">
            {{ form.city.label }}<br>
            </label><br>

            {% for choice in form.city %}
				<tr>
					<td name="city">{{ choice }}</td>
					<td>{{ choice.label }}</td>
				</tr>
			{% endfor %}

			{% for error in form.city.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}

        </p>

        <p>
        <b>Cats</b>
        {% if cats %}
		<ul>
		{% for c in cats %}
			<li> {{ c }}</li>
		{% endfor %}
		</ul>
		<hr>
        {% else %}
            <p>No exsited cat! Please add one ^_^</p>
            <hr id="below_line">
        {% endif %}

        <label for="pet">
            {{ form.pet.label }}<br>
            </label><br>
            <div class="form-control">
            {{ form.pet(size=32) }}
            </div>

			{% for error in form.pet.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <div class="form-group">
            {{ form.hidden_tag() }}
            {{ form.submit }}
        </div>

    </form>
</body>

<script>


    function conf(b_count, s_count, c_count) {
          //value is the city chosen by the customer
        let value = '';
        let radio = document.getElementsByName('city')
        for(let i = 0; i<radio.length; i++){
            if(radio[i].checked==true)
            {value = radio[i].value;
            break;}
        }

        let count = 0;
        if (value=="Beijing"){ count = b_count; }
        else if (value=="Shanghai"){ count = s_count; }
        else if (value=="Chengdu"){ count = c_count; }

        let c = confirm("Are you going to make this appointment in " + value +"?\n There are "+count+ " appointments before you.")
        return c
    }

</script>
</html>
{% endblock %}